/* src/components/TernurinesGallery.css */

.ternurines-upload-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.ternurines-upload-form input[type="file"] {
    display: none;
}

.ternurines-upload-form label {
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color: #ff6b81;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s, transform 0.2s;
    display: inline-block;
}

.ternurines-upload-form label:hover {
    background-color: #ff5a73;
    transform: translateY(-2px);
}

.ternurines-upload-button {
    background-color: #2ffa20;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    font-size: 1em;
    margin-top: 10px;
}

.ternurines-upload-button:hover {
    background-color: #86ff6b;
    transform: translateY(-2px);
}

#ternurines-gallery-container {
    padding: 20px;
    background-color: var(--color-principal);
    border-radius: 15px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
}

.ternurines-header {
    text-align: center;
    margin-bottom: 20px;
}

.ternurines-header h2 {
    font-size: 2.5em;
    color: #ff6b81;
    font-family: 'Dancing Script', cursive;
}

.ternurines-divider {
    width: 50%;
    margin: 10px auto;
    border: 0;
    height: 3px;
    background-color: #ffb3d1;
    border-radius: 5px;
}

.ternurines-gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 15px;
}

.ternurines-gallery-image {
    width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(255, 105, 180, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

.ternurines-gallery-image:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 105, 180, 0.4);
}

.ternurines-fullscreen-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.ternurines-fullscreen-image {
    max-width: 90%;
    max-height: 90%;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
}

.ternurines-fullscreen-image:hover {
    transform: scale(1.02);
}

.ternurines-delete-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    font-size: 1em;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10;
}

.ternurines-delete-button:hover {
    background-color: #ff1a1a;
    transform: translateY(-2px);
}
