:root {
    --color-principal: #7e121d;
    --color-secundario: #bd3634;
    --color-fondo: #034f1b;
    --color-texto: #333333;
    --color-texto-suave: #666666;
    --color-acento: #4b0082;
    --color-sombra: rgba(0, 0, 0, 0.2);
}

body {
    font-family: 'Lato', sans-serif;
    color: var(--color-texto);
    background-color: var(--color-fondo);
    line-height: 1.6;
    margin: 0;
    padding: 0;
}


/* Asegura que el contenido del header sea responsivo */
header h1 {
    font-size: 3.5em;
    font-family: 'Dancing Script', cursive;
    margin: 0;
}

header p {
    font-size: 1.2em;
    margin: 10px 0 20px;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 50vh;
}

section {
    background-color: var(--color-fondo);
    margin-bottom: 30px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 20px var(--color-sombra);
    transition: transform 0.3s;
}

section:hover {
    transform: translateY(-5px);
}

section h2 {
    font-size: 2.5em;
    color: var(--color-principal);
    font-family: 'Dancing Script', cursive;
    border-bottom: 2px solid var(--color-acento);
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.icono {
    color: var(--color-principal);
    font-size: 1.5em;
    margin-right: 8px;
}

html {
    scroll-behavior: smooth;
}

/* Efecto de nieve */
.snowflake {
    position: fixed;
    top: -10px;
    color: #ffffff;
    font-size: 1em;
    opacity: 0.8;
    pointer-events: none;
    animation: fall linear infinite;
}

@keyframes fall {
    0% {
        transform: translateX(0) translateY(-10px);
        opacity: 0.8;
    }
    100% {
        transform: translateX(50px) translateY(100vh);
        opacity: 0;
    }
}

@keyframes sway {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(10px);
    }
}

/* Contenedor de nieve */
.snow-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Evita la interferencia con los clics */
    overflow: hidden;
    z-index: 1000; /* Asegúrate de que los copos estén encima del contenido */
}
