/* src/components/Gallery/Gallery.css */

#gallery-content {
    padding: 20px;
}

/* src/components/Gallery/Gallery.css */

/* ... (código existente) ... */

.gallery-upload-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.gallery-upload-form input[type="file"] {
    display: none;
}

.gallery-upload-form label {
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color: #ff6b81;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s, transform 0.2s;
    display: inline-block;
}

.gallery-upload-form label:hover {
    background-color: #ff5a73;
    transform: translateY(-2px);
}

.gallery-upload-button {
    background-color: #2ffa20;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    font-size: 1em;
    margin-top: 10px;
}

.gallery-upload-button:hover {
    background-color: #86ff6b;
    transform: translateY(-2px);
}

.delete-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    font-size: 1em;
    position: absolute;
    top: 20px; /* Espacio desde la parte superior */
    right: 20px; /* Espacio desde la parte derecha */
    z-index: 10; /* Asegúrate de que el botón esté por encima de la imagen */
}

.delete-button:hover {
    background-color: #ff1a1a;
    transform: translateY(-2px);
}


.gallery-header {
    text-align: center; /* Centra el contenido del encabezado */
    margin-bottom: 20px; /* Espacio inferior */
}

.gallery-header h2 {
    font-size: 2.5em; /* Tamaño de fuente para el título */
    color: #FFFFFF; /* Color de texto */
    font-family: 'Dancing Script', cursive; /* Fuente decorativa */
}

.divider {
    width: 50%; /* Ancho de la línea */
    margin: 10px auto; /* Centra la línea */
    border: 0; /* Elimina bordes por defecto */
    height: 2px; /* Grosor de la línea */
    background-color: var(--color-acento); /* Color de la línea */
    border-radius: 5px; /* Esquinas redondeadas */
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Ajusta el tamaño mínimo según sea necesario */
    gap: 10px; /* Espacio entre las imágenes */
}

.gallery-image {
    width: 100%; /* Ocupa el ancho completo del contenedor de la cuadrícula */
    height: auto; /* Mantiene la relación de aspecto */
    border-radius: 10px; /* Esquinas redondeadas */
    transition: transform 0.3s; /* Animación al pasar el mouse */
}

.gallery-image:hover {
    transform: scale(1.05); /* Efecto de zoom al pasar el mouse */
}

/* Estilo para el contenedor del overlay de pantalla completa */
.fullscreen-overlay {
    position: fixed; /* Fija la posición */
    top: 0;
    left: 0;
    width: 100%; /* Ancho completo */
    height: 100%; /* Alto completo */
    background-color: rgba(0, 0, 0, 0.8); /* Fondo oscuro semi-transparente */
    display: flex; /* Flexbox para centrar la imagen */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    z-index: 1000; /* Asegúrate de que esté sobre otros elementos */
}

.fullscreen-image {
    max-width: 90%; /* Ancho máximo de la imagen */
    max-height: 90%; /* Alto máximo de la imagen */
    border-radius: 10px; /* Esquinas redondeadas */
}
